---
layout: default
title: Pages
nav: true
---

{% comment %}
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
{% endcomment %}

<ul>
{% for post in site.pages %}
	{% if page.layout == 'page' %}  
	<li>
	<h3>
	<a href="{{ post.url | relative_url }}">
	{{ post.title | escape }}
	</a>
	( {% for tag in post.tags %}
		<a class="tag" href="/blog/tags.html#{{ tag | slugify }}">{{ tag }}</a>&nbsp;
	{% endfor %})
	</h3>
	</li>
	{% endif %}
{% endfor %}
</ul>


